<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    <link rel="stylesheet" href="~/common.css"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Service Place</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Executors" asp-action="Index">Executors</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-collapse">
      <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</nav>
<div class="main">
    @RenderBody()
</div>
<script src="~/vendor.min.js"></script>
</body>
</html>
