@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input class="w3-button w3-padding-large w3-hide-small login-link" type="submit" value="SIGN OUT" />
        <a class="w3-button w3-padding-large w3-hide-small login-link">@User.Identity.GetUserName()</a>
    }
}
else
{
    @Html.ActionLink("SIGN UP", "Register", "Account", null, new { id = "registerLink", @class = "w3-button w3-padding-large w3-hide-small login-link" })
    @Html.ActionLink("SIGN IN", "Login", "Account", null, new { id = "loginLink", @class = "w3-button w3-padding-large w3-hide-small login-link" })
}
