@using Microsoft.AspNetCore.Identity
@using ServicePlace.DataProvider.Models

@inject SignInManager<ServicePlace.DataProvider.Models.User> SignInManager
@inject UserManager<ServicePlace.DataProvider.Models.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input class="w3-button w3-padding-large w3-hide-small login-link" type="submit" value="LOG OUT" />
        <a class="w3-button w3-padding-large w3-hide-small login-link">@UserManager.GetUserName(User)</a>
    </form>
}
else
{
    <a class="w3-button w3-padding-large w3-hide-small login-link" asp-controller="Account" asp-action="Register">SIGN UP</a>
    <a class="w3-button w3-padding-large w3-hide-small login-link" asp-controller="Account" asp-action="Login">SIGN IN</a>
}