@using Microsoft.AspNet.Identity
@using ServicePlace.Model.ViewModels.OrderResponseViewModels
@model IndexOrderResponseViewModel

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


@{
    Layout = null;
}

<div id="order-responses">
    @foreach (var orderResponse in Model.OrderResponses)
    {
        @Html.Partial("Partials/_OrderResponse", orderResponse)
    }
</div>