@using Microsoft.AspNet.Identity
@using ServicePlace.Model.ViewModels.ProviderResponseViewModels
@model IndexProviderResponseViewModel

@{
    Layout = null;
}

<div id="provider-responses">
    @foreach (var providerResponse in Model.ProviderResponses)
    {
        @Html.Partial("Partials/_ProviderResponse", providerResponse)
    }
</div>