@using ServicePlace.Model.ViewModels.ProviderResponseViewModels
@model IndexProviderResponseViewModel

@{
    Layout = null;
}

@foreach (var providerResponse in Model.ProviderResponses)
{
    <div class="order-response">
        <div class="order-response-image">
            <img src="~/Content/Images/preview-background.png" />
        </div>
        <div class="w3-card-2 order-response-content">
            <header class="w3-container w3-light-gray">
                <h3><strong>@Html.ActionLink(providerResponse.Order.Title, "Show", "Order", new { id = providerResponse.Order.Id }, null)</strong></h3>
            </header>
            <div class="w3-container">
                <p>@providerResponse.Comment</p>
            </div>
        </div>
        <div class="w3-card-2 w3-light-gray order-response-info">
            <div class="w3-container">
                <p>@providerResponse.CreatedAt</p>
            </div>
        </div>
    </div>
    <br />
    <br />
}