@using ServicePlace.Model.ViewModels.ProviderCategoryViewModels
@model IndexProviderCategoryViewModel

@{
    Layout = null;
}

<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-large w3-animate-left category-navbar navbar-transparent"
     style="display: none; z-index: 3; width: 40%; min-width: 300px; position: absolute;" id="categoriesSidebar">
    <a href="javascript:void(0)" onclick="toggleSidebar('categoriesSidebar')"
       class="w3-bar-item w3-button">Close Menu</a>
    @foreach (var category in Model.Categories)
    {
        @Html.ActionLink(category.Name, "Show", "ProviderCategory", new { id = category.Id }, new { @class = "w3-bar-item w3-button", onclick = "w3_close2()" })
    }
</nav>