<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e8f6154-2eea-422c-a087-cd7eac7da6fb/resourcegroups/ServicePlaceWebsite20180821114926ResourceGroup/providers/Microsoft.Web/sites/ServicePlaceWebsite20180821114926</ResourceId>
    <ResourceGroup>ServicePlaceWebsite20180821114926ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://serviceplace.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>serviceplacewebsite20180821114926.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ServicePlaceWebsite20180821114926</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ServicePlaceWebsite20180821114926</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;Initial Catalog=ServicePlaceWebsite20180821114926_db;Persist Security Info=False;User ID=obejnen;Password=iBsnx093@Fg_;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;Initial Catalog=ServicePlaceWebsite20180821114926_db;Persist Security Info=False;User ID=obejnen;Password=iBsnx093@Fg_;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;Initial Catalog=ServicePlaceDB;Persist Security Info=False;User ID=obejnen;Password=iBsnx093@Fg_;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;Initial Catalog=ServicePlaceDB;Persist Security Info=False;User ID=obejnen;Password=iBsnx093@Fg_;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LocalConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;AttachDbFilename="C:\Users\obejn\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ServicePlaceDB.mdf";User ID=obejnen;Password=iBsnx093@Fg_</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:serviceplacewebsite20180821114926dbserver.database.windows.net,1433;Initial Catalog=ServicePlaceWebsite20180821114926_db;Persist Security Info=False;User ID=obejnen;Password=iBsnx093@Fg_;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>